 /*typical setup using html attributes and classes*/
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    background-color: white;
  }
  
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: black;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid rgb(107, 107, 107);
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  .time-block{
    text-align: left;
    border-radius: 15px;
  }

  .row {
    white-space: pre-wrap;
    border-top: 1px solid;
    height: 80px;
  }
  
  .hour {
    background-color: white;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: #a7a5a5;
    color: white;
  }
  
  .present {
    background-color: #ff6961;
    color: white;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #0088f7;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }